{% extends "layout.html" %}
{% block title %}All Applicants{% endblock %}



{% block content %}
    <div>
        <form>
            <input type="button" value="Get" onclick="location.href = '/request-counter';">
        </form>
    </div>
    <div>
        <form>
            <input type="button" value="Post" onclick="location.href = '/request-counter';">
        </form>
    </div>

    <div>
       <form>
            <input type="button" value="Staticstics" onclick="location.href = '/taticstics';">
       </form>
    </div>

    {{ counter }}

{% endblock %}
